@use "../variables/colors" as colors;
@use "../mixins/button" as button;
@use "../mixins/status" as status;



.main-display {
    box-shadow: 10px 10px 10px black;
    border-radius: 2em;
    height: fit-content;
    width: 40vw;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: colors.$color--beige;

    #task-list__container {
        width: 100%;
        display: block;

        #button--add-task {
           @include button.button(100%)
        }
    
        #task-list {
            width: 100%;
            list-style: none;
            display: flex;
            justify-content: flex-start;
            padding: 0;
            flex-direction: column;
    
            li {
                width: 100%;
                box-shadow: 0px 0px 5px 1px rgba(83,83,83,0.72) inset;
                -webkit-box-shadow: 0px 0px 5px 1px rgba(83,83,83,0.72) inset;
                -moz-box-shadow: 0px 0px 5px 1px rgba(83,83,83,0.72) inset;
                position: relative;
                margin-bottom: .5rem;
                cursor: pointer;
    
                a {
                    cursor: pointer;
                }
    
                .task__title, .task__deadline {
                    margin-left: 5%;
                }
    
                .task__title {
                    font-weight: 700;
                }
    
                .task__deadline {
                    font-style: italic;
                }
                
                .task--not-started {       
                    @include status.status(colors.$color--not-started)
                }
                    
                .task--done {  
                    @include status.status(colors.$color--done)
                }
                    
                .task--in-progress {       
                    @include status.status(colors.$color--in-progress)
                }
                 
            }
        }
    
        .task__summary {
            width: 100%;
            display: flex;
            justify-content: space-between;
    
            #task__quantity {
                font-size: 1.2rem;
                font-weight: 400
            }
        }
    }

}
