$color--green: #606c38;
$color--dark-green: #283618;
$color--beige: #fefae0;
$color--brown: #dda15e;
$color--dark-brown: #bc6c25;

$color--not-started: #ed6a5a;
$color--in-progress: #f4f1bb;
$color--done: #9bc1bc;
