@use "../variables/colors" as colors;

@mixin button($width) {
    background-color: transparent;
    padding: 1em 2em;
    font-family: sans-serif;
    width: $width;
    color: colors.$color--dark-green;
    font-weight: 700;
    transition: all .2s ease-in-out;
    cursor: pointer;
   

    &:hover {
        background-color: colors.$color--dark-green;
        color: colors.$color--beige;
    }
}